{{#Style}}
<div class="card mix">
   <section >
        <section class="wei5-color" style="margin: 0px auto; padding: 15px 20px 6em; color: rgb(255, 255, 255); border-radius:2px; background-color: rgb(216, 25, 33);">
            <p><span style="line-height: 24px; text-indent: 28px; font-family: 微软雅黑, 'Microsoft YaHei'; color: rgb(255, 255, 255);">中国共产党的诞生，开辟了中国历史发展的新时代，使中国革命的面貌焕然一新。抗日战争时期，由于环境困难，不能查记“一大”召开的准确日期（后经过考证，得出“一大”召开的时间为1921年7月23日），因此1941年党中央决定召开“四大”，确定1921年7月的首日即7月1日作为党的生日和纪念日。</span></p>
        </section>
        <section style="margin-top: -85px; text-align: justify;"><img class="wei5-img" style="width: 100%; margin: 0px;" src="http://oss.ipanda.site/%E5%85%B3%E6%B3%A8.png"></section>
    </section>
      
    <p>
        <br>
    </p>
</div>
{{/Style}}
