{{#Style}}
<section class="mix paras">
<div style="display:inline-block">
    <p style="white-space: normal;font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif; font-size: 16px; line-height: 25.6px; min-height: 1em; color: rgb(62, 62, 62); text-align: center;"></p>
    <section  class="" style="font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif; font-size: 16px; line-height: 25.6px; white-space: normal; color: {{color}};">
        <section class="" style="margin-top: 10px; margin-bottom: 10px; padding: 30px; border: 0px solid rgb(188, 188, 187); font-family: 微软雅黑; text-align: center; background-image: url(http://ww3.sinaimg.cn/large/006qBWBXjw1f4nw0xtdrjg30ka0bnwem.gif); background-size: cover; background-repeat: repeat;">
            <p style="white-space: pre-wrap; min-height: 1em;">演员</p>
            <p style="white-space: pre-wrap; min-height: 1em;"><strong>简单点说话的方式简单点</strong></p>
            <p style="white-space: pre-wrap; min-height: 1em;"><span style="line-height: 25.6px;">你又不是个演员</span></p>
            <p style="white-space: pre-wrap; min-height: 1em;">别设计那些情节</p>
            <p style="white-space: pre-wrap; min-height: 1em;"><span style="font-size: 12px;">没意见我只想看看你怎么圆</span></p>
        </section>
    </section>
    <p>
        <br>
    </p>
</div>
</section>
{{/Style}}
