{{#Style}}
<section class="title mix">
	<p></p>
<div  style="font-size:{{fontSize}}px;width:100%;padding:0 10px;line-height:1.5;border-bottom: {{fontSize/6}}px solid {{color}};">
	<span style="background:{{color}};color:#ffffff;text-align: left;padding:{{fontSize/6}}px {{fontSize}}px;border-radius:{{fontSize/3}}px {{fontSize/3}}px 0  0 ">标题</span>
</div>
<p></p>
</section>

<section >
    <section class="title mix" style="box-sizing: border-box;padding: 0px;width:100%" >
        <section style="width:100%;box-sizing: border-box;">
            <section style="width:25%;float:left;" data-width="25%">
                <section class="wxqq-borderBottomColor" style="opacity: 0.8; margin-top: 5px; border-bottom-width: 10px; border-bottom-style: solid; border-bottom-color: {{color}}; border-top-color: {{color}}; box-sizing: border-box; color: inherit; float: left; border-left-width: 6px !important; border-left-style: solid !important; border-left-color: transparent !important; border-right-width: 6px !important; border-right-style: solid !important; border-right-color: transparent !important;"></section>
                <section  style="opacity: 0.4; border-right-width: 10px; border-left-width: 0px; border-right-style: solid; border-right-color: {{color}}; border-left-color: {{color}}; display: inline-block; float: left; color: inherit; margin-top: 5px; margin-left: 10px; margin-right: 5px; border-bottom-width: 6px !important; border-top-width: 6px !important; border-top-style: solid !important; border-bottom-style: solid !important; border-top-color: transparent !important; border-bottom-color: transparent !important;transform: rotate(10deg);-webkit-transform: rotate(10deg);-moz-transform: rotate(10deg);-o-transform: rotate(10deg);"></section>
                <section  style="border-left-width: 20px; border-right-width: 0px; border-left-style: solid; border-left-color: {{color}}; border-right-color: {{color}}; display: inline-block; float: left; color: inherit; border-bottom-width: 10px !important; border-top-width: 15px !important; border-top-style: solid !important; border-bottom-style: solid !important; border-top-color: transparent !important; border-bottom-color: transparent !important;transform: rotate(10deg);-webkit-transform: rotate(10deg);-moz-transform: rotate(10deg);-o-transform: rotate(10deg);"></section>
            </section>
            <section style="width:50%;text-align:center;float: left;padding: 0px 5px;" data-width="50%">
                <section style="display:inline-block;"><span style="font-size:18px"><strong><span class="135brush" data-brushtype="text" style="font-size:18px">标题</span></strong>
                    </span>
                </section>
            </section>
            <section style="float:right;width:25%;text-align: right;" data-width="25%">
                <section style="display:inline-block;">
                    <section  style="opacity: 0.8; margin-top: 5px; border-bottom-width: 10px; border-bottom-style: solid; border-bottom-color: {{color}}; border-top-color: {{color}}; box-sizing: border-box; color: inherit; float: left; border-left-width: 6px !important; border-left-style: solid !important; border-left-color: transparent !important; border-right-width: 6px !important; border-right-style: solid !important; border-right-color: transparent !important;"></section>
                    <section  style="opacity: 0.4; border-right-width: 10px; border-left-width: 0px; border-right-style: solid; border-right-color: {{color}}; border-left-color: {{color}}; display: inline-block; float: left; color: inherit; margin-top: 5px; margin-left: 10px; margin-right: 5px; border-bottom-width: 6px !important; border-top-width: 6px !important; border-top-style: solid !important; border-bottom-style: solid !important; border-top-color: transparent !important; border-bottom-color: transparent !important;transform: rotate(10deg);-webkit-transform: rotate(10deg);-moz-transform: rotate(10deg);-o-transform: rotate(10deg);"></section>
                    <section  style="border-left-width: 20px; border-right-width: 0px; border-left-style: solid; border-left-color: {{color}}; border-right-color: {{color}}; display: inline-block; float: left; color: inherit; border-bottom-width: 10px !important; border-top-width: 15px !important; border-top-style: solid !important; border-bottom-style: solid !important; border-top-color: transparent !important; border-bottom-color: transparent !important;transform: rotate(10deg);-webkit-transform: rotate(10deg);-moz-transform: rotate(10deg);-o-transform: rotate(10deg);"></section>
                </section>
            </section>
        </section>
        <section style="clear:both;"></section>
    </section>
    <p>
        <br>
    </p>
</section>
{{/Style}}